PUBLIC_SITE_URL=https://elon.ayaseeri.com
PUBLIC_CONTACT_EMAIL=807267531@qq.com
CODEX_TRANSLATION_MODEL=gpt-5.6-sol
CODEX_TRANSLATION_REASONING=medium
CODEX_TRANSLATION_CONCURRENCY=1
CODEX_TRANSLATION_CHUNK_CHARS=12000
SOURCE_REQUEST_TIMEOUT_MS=120000
